<script>
import QueryControls from './QueryControls.html';
export let properties, hover;
</script>

<ul class="tag-container"  >
{#each properties as prop, s}
  <li
    class="tags {prop.status}"
    on:mouseenter="{(e) => console.log(e)}"
    on:mouseleave="{(e) => console.log(e)}"
  >
    <span>
      {prop.field}

      {#if prop.hovered}
        <QueryControls
          status="{prop.status}"
          on:mouseover="{() => hover(s)}"
        />
      {/if}

    </span>
  </li>

{/each}
</ul>


<style>
.tag-container {
    display: flex;
    margin: 0 15px;
    padding: 0 5px;
    border: none;
    position: relative;
    font-size: 18px;
    height: 100%;

    color: #333;
  }

  .tag-container::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 2rem;
    border-bottom: 1px solid #ccc;
    border-radius: 1rem;
    bottom: 0;
    margin: auto;
  }
  .tags {
    cursor: pointer;
    margin: 0 5px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    min-width: 5.7rem;
    /* height: 100%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tags span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .excluded  {
    color: red
  }
  .included{
    color: limegreen
  }
  .default{
    color: #ccc
  }
</style>
