<script>
  import QueryBuilderLabels from './QueryBuilderLabels.html';
  import { createEventDispatcher, onMount, tick } from 'svelte';
  import SearchQueries from './SearchQueries.html';
  import { createStore } from './store.js';



  export let tabs = 1,
    send,
    status, savedQueries, key;


  let input;

  const { search, rules } = createStore(savedQueries.value && savedQueries.value.length ? savedQueries : undefined);

  const dispatch = createEventDispatcher();

  $: dispatch('change', {
    values: $search,
    queries: $search.value.map(value => value.value)
  });
  $: subjectDefault = $search.value[$search.current].subject.every(value => value.status === 'default');
  $: contentDefault = $search.value[$search.current].content.every(value => value.status === 'default');

  function sendSearch() {
    send($rules.filter(v => v.value.length > 0));
  }

  function handleEnter(event, isWindow = false) {
    if (event.key !== 'Enter') return;
    if (event.metaKey) return sendSearch();
    if (isWindow) return;
    handleNewQuery();
  }

  function handleNewQuery() {
    createNewRule();
    search.selectRule($search.value.length - 1);
  }

  function setRule(ruleIndex) {
    search.selectRule(ruleIndex);
    input.focus();
  }

  function createNewRule() {
    search.newRule();
    input.focus();
  }

  function createCopyRule(ruleIndex) {
    search.copyRule(ruleIndex);

    search.selectRule($search.value.length - 1);

    input.focus();
  }

  onMount(() => {
    setTimeout(() => {
      input.focus();
    }, 0);
  });

  let tooltip = false;
</script>

<svelte:window on:keydown="{(e) => handleEnter(e, true)}"/>

<div class="main-container">
  <form on:submit|preventDefault>
    <div class="button">
      <button
        on:mouseenter="{() => tooltip = true}"
        on:mouseleave="{() => tooltip = false}"
        type="button" on:click="{handleNewQuery}"
      >
        +
      </button>

      {#if tooltip}
        <span>Add new query (return)</span>
      {/if}
    </div>
    <div class="input-wrap">
      <label class="input" for="search-builder">Search:</label>
      <input
        autocomplete="off"
        id="search-builder"
        bind:this="{input}"
        value="{$search.value[$search.current].value}"
        on:keydown="{handleEnter}"
        on:input="{(e) => search.updateValue(e.target.value)}"
        placeholder="example: cancer, -breast"
      />
      {#if $search.value[$search.current].value.length !== 0}
      <span class="label tip">Press return or + to add a new query</span>
      {/if}

    </div>

    <QueryBuilderLabels
      title="Subject"
      labels="{$search.value[$search.current].subject}"
      changed="{!subjectDefault}"
      on:select="{({ detail }) => search.handleSelect('subject', detail)}"
    />

    <QueryBuilderLabels
      title="Content"
      labels="{$search.value[$search.current].content}"
      changed="{!contentDefault}"
      on:select="{({ detail }) => search.handleSelect('content', detail)}"
    />

    <button
      class="search-button"
      on:click="{() => sendSearch()}"
    >
      Search
    </button>

  </form>

  <SearchQueries
    ruleselect="{(i) => setRule(i)}"
    copyRule={createCopyRule}
    rules="{$rules}"
    {search}
  />

</div>

<style>
  button {
    height: 2.2rem;
    margin-top: 15px;
    background: #eee;
    border: 1px solid #aaa;
    padding: 10px 15px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
    float: right;
  }

  .search-button {
    position: absolute;

    cursor: pointer;

    right: 80px;
    bottom: 20px;
    transition: 0.2s;
  }

  :global(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :global(body) {
    padding: 0;
  }

  .label {
    margin-left: 15px;

    display: block;
    font-size: 0.8rem;
    margin-top: -10px;
  }

  .label.tip {
    margin-left: 15px;
    padding-top: 1px;
    display: block;
    font-size: 0.8rem;
    margin-top: 5px;
  }

  .input {
    font-size: 0;
    opacity: 0;
  }

  form {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  input {
    margin: 0;
    margin-top: -20px;
    padding: 20px 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    font-size: 25px;
    background: transparent;
    outline: none;
    transition: 0.2s;
    width: 100%;
    height: 100%;
  }

  input::placeholder {
    font-size: 16px;
  }

  input:focus {
    border-bottom: 1px solid #333;
  }

  .input-wrap {
    width: 40%;
    height: 2rem;
  }

  .button {
    margin-right: 15px;
    font-size: 20px;
    position: relative;
  }

  .button button {
    font-size: 1.4rem;
    padding: 0 15px;
  }

  .button span {
    position: absolute;
    font-size: 12px;
    font-weight: 300;
    width: 9.3rem;
    top: -1rem;
    color: #eee;
    padding: 4px 8px;
    border-radius: 2px;
    z-index: 99;
  }
</style>
