<script>
  import RuleControls from './RuleControls.html';
  import RuleControlsMaster from './RuleControlsMaster.html';

  import Query from './Query.html';

  import SearchQueriesLabels from './SearchQueriesLabels.html';

  export let copyRule,ruleselect;

  export let search;
  export let rules;

  $: filteredRules = rules.map(query => ({
    value: query.value,
    subs: query.subject.filter(s => s.status !== 'default'),
    conts: query.content.filter(s => s.status !== 'default'),
    visible: query.visible,
  }));

  function hoverProp(ruleIndex, fieldName, section) {
    const index = rules[ruleIndex][section].findIndex(v => v.field === fieldName);
    rules[ruleIndex][section][index].hovered = true;
  }

  function unHoverProp(ruleIndex, fieldName, section) {
    const index = rules[ruleIndex][section].findIndex(v => v.field === fieldName);

    rules[ruleIndex][section][index].hovered = false;
  }

  function toggleVisibility(valueIndex, fieldName, section) {
    const index = $search.value[valueIndex][section].findIndex(v => v.field === fieldName);

    search.updateVisibility(section, valueIndex, index);
  }

  function removeProperty(valueIndex, fieldName, fieldIndex) {
    const index = $search.value[valueIndex][fieldIndex].findIndex(v => v.field === fieldName);
    search.updateStatus(fieldIndex, valueIndex, index, 'default');
  }

  function toggleStatus(valueIndex, fieldName, fieldIndex) {
    const index = $search.value[valueIndex][fieldIndex].findIndex(v => v.field === fieldName);
    const val =
      $search.value[valueIndex][fieldIndex][index].status === 'excluded'
        ? 'included'
        :'excluded';
    search.updateStatus(fieldIndex, valueIndex, index,val);
  }
</script>

{#if filteredRules.length}
  <ul class="rules-container">
    {#each filteredRules as {value, subs, conts, visible}, i}
      {#if value && value.length > 0}
        <li
          on:click="{() =>  ruleselect(i)}"
          class:active-query="{i === $search.current}"
          class="rule"
          style="{visible ? '' : 'border-color: #ddd;'} transition: 0.3s;"
        >

          <Query
            value={value}
            index={i}
            negate="{(j) => search.negateValueClick(i, j)}"
          />


          {#if subs.length}

            <SearchQueriesLabels
              labels="{subs}"
              {visible}
              on:hover="{({detail}) => hoverProp(i, detail, 'subject')}"
              on:unhover="{({detail}) => unHoverProp(i, detail, 'subject')}"
              on:delete="{({detail}) => removeProperty(i, detail, 'subject')}"
              on:change="{({detail}) => toggleStatus(i, detail, 'subject')}"
              on:toggle="{({detail}) => toggleVisibility(i, detail, 'subject')}"
            />
          {/if}

          {#if conts.length}
            <SearchQueriesLabels
              labels="{conts}"
              {visible}
              on:hover="{({detail}) => hoverProp(i, detail, 'subject')}"
              on:unhover="{({detail}) => unHoverProp(i, detail, 'subject')}"
              on:delete="{({detail}) => removeProperty(i, detail, 'subject')}"
              on:change="{({detail}) => toggleStatus(i, detail, 'subject')}"
              on:toggle="{({detail}) => toggleVisibility(i, detail, 'subject')}"
            />
          {/if}

            <RuleControlsMaster selected={$search.current === i}>

              <RuleControls
                on:visibility="{() => search.setRuleVisibility(i)}"
                {visible}
                on:copy="{() => copyRule(i)}"
                on:delete="{() => search.removeRule(i)}"
              />

            </RuleControlsMaster>

        </li>
      {/if}
    {/each}
  </ul>
{/if}


<style>
  .rules-container {
    display: flex;
    flex-wrap: wrap;
    transition: 0.2s 0.2s;
    transform-origin: 0 100%;
  }

  ul {
    list-style: none;
  }

  .rule {
    font-size: 18px;
    position: relative;
    display: flex;
    height: 3.4rem;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 1.7rem;
    padding: 0 12px;
    transition: 0.2s;
  }

</style>
