<script>
  import { screenStore, idStore, historyStore, currentTab } from '../stores/search';
  import { machine } from '../machines/screen_machine.ts';

  // $: console.log($screenStore);
  $: current = $screenStore[$currentTab].uiQuery
  // $: console.log(current, $currentTab)

  import Nav from './Nav.html';
  import QueryBuilder from '../components/QueryBuilder';
  import { searchMachine, searchStore } from '../machines/search';

  import { subjectFields, contentFields } from '../config';
  import {  createQueryObject } from '../util/parse.ts';

  import { createEventDispatcher } from 'svelte';
  import { writable } from 'svelte/store';

  const dispatch = createEventDispatcher();
  // const savedQueries = writable([{queries:[], values:[], tab:0}]);
  let currentData,
    search,
    value = '', activeTab = 0;

  function handleChange({text, ruleIndex}) {
     //{ tabId, ruleIndex, text }
     machine.send({type: 'TEXT_CHANGED', tabId: $currentTab, ruleIndex, text})
    // value = queries.filter(value => !!value);
    // savedQueries.update(queries => {
    //   const newState = [].concat(queries);
    //   const index = newState.findIndex(tabs => tabs.tab === tab)
    //   newState[index] = { values, queries, tab};
    //   return newState;
    // })
    // checkDirty();
  }

  function handleSend(rules) {

    //console.log(createQueryObject(rules));
    // searchMachine.send({
    //   type: 'SEARCH',
    //   query: createQueryObject(rules),
    //   value,
    //   searchId: activeTab
    // });

    console.log('SEARCH PRESSED')
  }

  // function checkDirty() {
  //  searchMachine.send('CHANGED');
  // }

  const states = {
    current: 'open',
    open: 'close',
    close: 'open'
  };

  // TODO: Calculate the required offset dynamically, static values are too inconsistent
  function animateSearch() {
    states.current = states[states.current];

    if (search && states.current === 'close') {
      search.style.transform = `translateY(-7rem)`;
      search.children[0].children[1].style.transform = `scale(0.8)`;
    } else if (search) {
      search.style.transform = 'translateY(0)';
      search.children[0].children[1].style.transform = `scale(1)`;
    }
  }

  function newTab() {
    // savedQueries.update(state => {
    //   activeTab = state[state.length-1].tab + 1;
    //   return state.concat({ queries:[], values:[], tab: state[state.length - 1].tab + 1 })
    // })
    machine.send({type: 'TAB_CREATED', id: $idStore })

    dispatch('tab', activeTab)
  }

  function changeTab({ detail: { id }}) {
    machine.send({type: 'TAB_SELECTED', id })
    // activeTab = e.detail
    // dispatch('tab', activeTab)
  }

  function deleteTab({ detail: { id }}) {
    machine.send({type: 'TAB_DELETED', id })
    // savedQueries.update(state => {
    //   if (state.length === 1) return state;

    //   const index = $searchStore.value.findIndex(v => v.tab === e.detail)
    //   const newState = [].concat(state);
    //   newState.splice(index, 1);

    //   activeTab = activeTab > newState[newState.length-1].tab ? newState[newState.length-1].tab :
    //     (activeTab < newState[0].tab ? newState[0].tab : activeTab);

    //   return newState;
    // });

    //dispatch('deletetab', {tab: activeTab, removed: e.detail})
  }

</script>
<Nav tabs={$screenStore}
     activeTab="{$currentTab}"
     on:newtab="{newTab}"
     on:changetab="{changeTab}"
     on:deletetab="{deleteTab}"/>

<div class="search" bind:this="{search}">
  <!-- {#each $savedQueries as {values, queries, tab}}
    {#if tab === activeTab} -->
      <QueryBuilder
        rules="{current}"
        key={$currentTab}
        {subjectFields}
        {contentFields}
        status="{'true'}"
        on:change="{({ detail }) => handleChange(detail) }"
        send="{ handleSend }"
      />


    {#if queries[0] && queries[0].length}
      <div class="close-label" on:click="{animateSearch}" style="{states.current === 'open' ? 'transform: rotate(180deg)' : ''}">
          <img alt="close search" src="arrow.svg"/>
      </div>
    {/if}
    <!-- {/if}
  {/each} -->
</div>


<style>
  .search {
    position: fixed;
    width: 100%;
    top: 3.5rem;
    left: 0;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
    padding: 1rem 3em 0.5em 3em;
    transition: 0.5s;
    z-index: 3;
    background: #fff;
  }
  .close-label {
    position: absolute;
    padding: 5px 0;
    cursor:pointer;
    width: 30px;
    height: 30px;
    right: 30px;
    bottom: 22px;
    transition: 0.2s;
  }

  img {
    margin-top: -5px;
  }
</style>
