<script>
  import { Form, FormInput, FormLabels } from './QueryBuilder/Form';
  import { Rules, Ruleset, RulesetLabels } from './QueryBuilder/Rules';
  import { screenStore, idStore, historyStore, currentTab } from '../stores/search';
  import { machine } from '../machines/screen_machine.ts';
  import * as _ from 'lamb';

  $: console.log($screenStore);
  $: current = $screenStore[$currentTab].uiQuery
  $: currentQuery = current.find(( { selected } ) => selected)
  $: currentQueryIndex = current.findIndex(( { selected } ) => selected)


  import Nav from './Nav.html';
  //import QueryBuilder from '../components/QueryBuilder';


  import { subjectAliases, contentAliases } from '../config';


  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();

  const typeMap = type => label => ({ type, label });

  // let formLabels = _.union(
  //   _.mapWith(subjectFields, typeMap('subject')),
  //   _.mapWith(contentFields, typeMap('content'))
  // );
  let currentData,
    search,
    value = '',
    activeTab = 0;



  const states = {
    current: 'open',
    open: 'close',
    close: 'open'
  };

  // TODO: Calculate the required offset dynamically, static values are too inconsistent
  function animateSearch() {
    states.current = states[states.current];

    if (search && states.current === 'close') {
      search.style.transform = `translateY(-7rem)`;
      search.children[0].children[1].style.transform = `scale(0.8)`;
    } else if (search) {
      search.style.transform = 'translateY(0)';
      search.children[0].children[1].style.transform = `scale(1)`;
    }
  }

  const newTab = () =>  machine.send({type: 'TAB_CREATED', id: $idStore });
  const changeTab = ({ detail: { id }}) =>  machine.send({type: 'TAB_SELECTED', id });
  const deleteTab = ({ detail: { id }}) => machine.send({type: 'TAB_DELETED', id });
$: console.log(current)
  const handleChange = ({ detail }) =>
    machine.send({type: 'TEXT_CHANGED', tabId: $currentTab, ruleIndex: currentQueryIndex, text: detail})
  const handleSend = (rules) => console.log('SEARCH PRESSED');
  const newRuleset = () => {};
</script>

<Nav
  tabs={$screenStore}
  activeTab="{$currentTab}"
  on:newtab="{newTab}"
  on:changetab="{changeTab}"
  on:deletetab="{deleteTab}"
/>

<div class="search" bind:this="{search}">
  <Form
    on:submit="{handleSend}"
  >
    <FormInput
      on:change="{handleChange}"
      on:enter="{newRuleset}"
    />
    <FormLabels
      on:select="{() => {}}"
      labels="{{ Subject: currentQuery.fields.subject, Content: currentQuery.fields.content }}"
    />
  </Form>

  <!-- <Rules>
    <Ruleset
      on:hover
      optionsShow="{true}"
      on:select
      on:copy
      on:delete
      on:disable
    >
      <RulesetLabels
        labels="{[]}"
        on:hover

        on:disable
        on:delete
        on:exclude
      />
    </Ruleset>
  </Rules> -->


    <!-- {#if queries[0] && queries[0].length}
      <div class="close-label" on:click="{animateSearch}" style="{states.current === 'open' ? 'transform: rotate(180deg)' : ''}">
          <img alt="close search" src="arrow.svg"/>
      </div>
    {/if} -->
    <!-- {/if}
  {/each} -->
</div>


<style>
  .search {
    position: fixed;
    width: 100%;
    top: 3.5rem;
    left: 0;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
    padding: 1rem 3em 0.5em 3em;
    transition: 0.5s;
    z-index: 3;
    background: #fff;
  }
  .close-label {
    position: absolute;
    padding: 5px 0;
    cursor:pointer;
    width: 30px;
    height: 30px;
    right: 30px;
    bottom: 22px;
    transition: 0.2s;
  }

  img {
    margin-top: -5px;
  }
</style>
