<script>
  import { Form, FormInput, FormLabels } from './QueryBuilder/Form';
  import { Rules, Ruleset,RulesetQueries, RulesetLabels } from './QueryBuilder/Rules';
  import { screenStore, idStore, historyStore, currentTab } from '../stores/search';
  import { machine } from '../machines/screen_machine.ts';
  import * as _ from 'lamb';

  $: console.log($screenStore);
  $: current = $screenStore[$currentTab] && $screenStore[$currentTab].uiQuery;
  $: currentQuery = current ? current.find(( { selected } ) => selected) : false;
  $: currentQueryIndex = current ? current.findIndex(( { selected } ) => selected) : false;
  $: currentLabels = currentQuery && { Subject: currentQuery.fields.subject, Content: currentQuery.fields.content };

  import Nav from './Nav.html';
  //import QueryBuilder from '../components/QueryBuilder';


  import { subjectAliases, contentAliases } from '../config';


  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();

  const typeMap = type => label => ({ type, label });

  // let formLabels = _.union(
  //   _.mapWith(subjectFields, typeMap('subject')),
  //   _.mapWith(contentFields, typeMap('content'))
  // );
  let search;


  // TODO: Calculate the required offset dynamically, static values are too inconsistent
  function animateSearch() {
    states.current = states[states.current];

    if (search && states.current === 'close') {
      search.style.transform = `translateY(-7rem)`;
      search.children[0].children[1].style.transform = `scale(0.8)`;
    } else if (search) {
      search.style.transform = 'translateY(0)';
      search.children[0].children[1].style.transform = `scale(1)`;
    }
  }

  const newTab = () =>  machine.send({type: 'TAB_CREATED', id: $idStore });

  const changeTab = ({ detail: { id }}) =>  machine.send({type: 'TAB_SELECTED', id });

  const deleteTab = ({ detail: { id }}) => machine.send({type: 'TAB_DELETED', id });

  const handleChange = ({ detail }) =>
    machine.send({type: 'TEXT_CHANGED', tabId: $currentTab, ruleIndex: currentQueryIndex, text: detail})

  const handleSend = (rules) => console.log('SEARCH PRESSED');

  const newRuleset = () => {};

  const handleSelect = ({ detail: { type, i: labelIndex } }) => machine.send({
    type: 'LABEL_CLICKED',
    tabId: $currentTab,
    ruleIndex: currentQueryIndex,
    section: type.toLowerCase(),
    labelIndex
  });

  const toggleTermStatus = ({ detail: termIndex }) =>
    machine.send({
      type: 'QUERY_CLICKED',
      tabId: $currentTab,
      ruleIndex: currentQueryIndex,
      termIndex
    })

  const showRuleOptions = (ruleIndex) =>
    machine.send({
      type: 'RULE_OPTIONS_SELECTED',
      tabId: $currentTab,
      ruleIndex
    })

  const hideRuleOptions = (ruleIndex) =>
    machine.send({
      type: 'RULE_OPTIONS_DISMISSED',
      tabId: $currentTab,
      ruleIndex
    })

  const selectRuleset = () => {}

  const copyRuleset = (ruleIndex) =>
    machine.send({
      type: 'RULE_COPIED',
      tabId: $currentTab,
      ruleIndex
    })

  const deleteRuleset = (ruleIndex) =>
    machine.send({
      type: 'RULE_DELETED',
      tabId: $currentTab,
      ruleIndex
    })

  const disableRuleset = (ruleIndex) =>
    machine.send({
      type: 'RULE_DISABLED',
      tabId: $currentTab,
      ruleIndex
    })

  const showLabelOptions = ({ detail: { section, index } }) =>
    machine.send({
      type: 'LABEL_OPTIONS_SELECTED',
      tabId: $currentTab,
      ruleIndex: currentQueryIndex,
      section,
      labelIndex: index
    });

  const hideLabelOptions = ({ detail: { section, index } }) =>
    machine.send({
      type: 'LABEL_OPTIONS_DISMISSED',
      tabId: $currentTab,
      ruleIndex: currentQueryIndex,
      section,
      labelIndex: index
    });

  const disableLabel = ({ detail: { section, index } }) =>
    machine.send({
      type: 'LABEL_DISABLED',
      tabId: $currentTab,
      ruleIndex: currentQueryIndex,
      section,
      labelIndex: index
    })

  const deleteLabel = ({ detail: { section, index } }) =>
    machine.send({
      type: 'LABEL_DELETED',
      tabId: $currentTab,
      ruleIndex: currentQueryIndex,
      section,
      labelIndex: index
    })

  const toggleLabel = ({ detail: { section, index } }) =>
    machine.send({
      type: 'LABEL_TOGGLED',
      tabId: $currentTab,
      ruleIndex: currentQueryIndex,
      section,
      labelIndex: index
    })
</script>

<Nav
  tabs={$screenStore}
  activeTab="{$currentTab}"
  on:newtab="{newTab}"
  on:changetab="{changeTab}"
  on:deletetab="{deleteTab}"
/>

<div class="search" bind:this="{search}">
  <Form
    on:submit|preventDefault="{handleSend}"
  >
    <FormInput
      on:change="{handleChange}"
      on:enter="{newRuleset}"
    />
    <FormLabels
      on:select="{handleSelect}"
      labels="{currentLabels}"
    />
  </Form>


  {#if current.length}
  <Rules>
    {#each current as { options, disabled, selected, terms, fields }, i}
      <Ruleset
        {terms}
        {selected}
        {disabled}
        {options}
        on:open="{() => showRuleOptions(i)}"
        on:close="{() => hideRuleOptions(i)}"
        on:select="{() => selectRuleset(i)}"
        on:copy="{() => copyRuleset(i)}"
        on:delete="{() => deleteRuleset(i)}"
        on:disable="{() => disableRuleset(i)}"
      >
        <RulesetQueries
          terms={currentQuery.terms}
          on:toggle={toggleTermStatus}
        />
        <RulesetLabels
          labels="{{ subject: fields.subject, content: fields.content }}"
          on:hover={showLabelOptions}
          on:unhover={hideLabelOptions}
          on:disable={disableLabel}
          on:delete={deleteLabel}
          on:toggle={toggleLabel}
        />
      </Ruleset>
    {/each}
  </Rules>
  {/if}

</div>


<style>
  .search {
    position: fixed;
    width: 100%;
    top: 3.5rem;
    left: 0;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
    padding: 1rem 3em 0.5em 3em;
    transition: 0.5s;
    z-index: 3;
    background: #fff;
  }
  .close-label {
    position: absolute;
    padding: 5px 0;
    cursor:pointer;
    width: 30px;
    height: 30px;
    right: 30px;
    bottom: 22px;
    transition: 0.2s;
  }

  img {
    margin-top: -5px;
  }
</style>
