<script>
  import QueryBuilder from '../components/QueryBuilder';
  import { store, state } from '../machines/search';
  import { goto } from '../../__sapper__/client.js';

  let currentData,
    value = '',
    grey = false;

  function handleChange(input) {
    value = input.detail.filter(v => !!v);
    checkDirty();
  }

  function handleSend(rules) {
    const opts = { type: 'SEARCH', query: parseValue(rules), value, req: 'scroll' };
    state.send(opts);
  }

  function checkDirty() {
    if ($store.value !== value.toString()) {
      state.send('CHANGED');
    } else {
      state.send('SAME');
    }
  }

  function parseValue(query) {
    return query.reduce((acc, next, i, arr) => {
      return (
        acc +
        next.reduce((acc2, next2, i2, arr2) => {
          const mid = (next2.status === 'not' ? ' -' : ' ') +
                      next2.value;
          return (
            acc2 +
            mid.trim() +
            (i2 === arr2.length - 1 ? ')' : ' ')
          );
        }, '(') +
        (i === arr.length - 1 ? ')' : 'OR')
      );
    }, '(');
  }
</script>

<div class="search">
  <QueryBuilder
    status="{$state.dirty ? 'dirty' : 'clean'}"
    on:change="{ handleChange }"
    send="{ handleSend }" />
</div>


<style>
  .search {
    width: 30%;
  }
</style>
