<script>
  import QueryBuilder from '../components/QueryBuilder';
  import { store, state } from '../machines/search';
  import { querify } from '../util/parse';

  let currentData,
    value = '';

  function handleChange(input) {
    value = input.detail.filter(v => !!v);
    checkDirty();
  }

  function handleSend(rules) {
    console.log(querify(rules), rules)
    state.send({ type: 'SEARCH', query: querify(rules), value });
  }

  function checkDirty() {
    if ($store.value !== value.toString()) {
      state.send('CHANGED');
    } else {
      state.send('SAME');
    }
  }
</script>

<div class="search">
  <QueryBuilder
    status="{$state.dirty ? 'dirty' : 'clean'}"
    on:change="{ handleChange }"
    send="{ handleSend }" />
</div>


<style>
  .search {
    width: 30%;
  }
</style>
