<script>
  import QueryBuilder from '../components/QueryBuilder';
  import { searchStore, searchMachine } from '../machines/search';
  import {rules} from './QueryBuilder/store.js';
  //import { querify } from '../util/parse';
  import {subjectFields, contentFields} from '../config';
  import {dslBuilder, createFields} from '../util/parse';

  let currentData,
    search,
    value = '';

    $: isRules = $rules.length > 1 || $rules[0].value.length > 0;

  function handleChange(input) {
    value = input.detail.filter(v => !!v);
    checkDirty();
  }

  function handleSend(rules) {
    let joinedRules = rules.map(v => ({
      visible: v.visible,
      value: v.value,
      fields: [].concat(
        createFields(contentFields, v.content),
        createFields(subjectFields, v.subject)
      )
    }));

    joinedRules = joinedRules.reduce((acc, next) => {
      if (!next.visible) return acc;
      return  acc + dslBuilder(next.value, next.fields);
    }, '')

    searchMachine.send({ type: 'SEARCH', query: joinedRules, value });
  }

  function checkDirty() {
    searchMachine.send('CHANGED');

    // if ($searchStore.value !== value.toString()) {
    //   searchMachine.send('CHANGED');
    // } else {
    //   searchMachine.send('SAME');
    // }
  }

  const states = {
    current: 'open',
    open: 'close',
    close: 'open'
  };

  function animateSearch() {
    states.current = states[states.current];

    if (search && states.current === 'close') {
      const { height } = search.getBoundingClientRect();
      search.style.transform = `translateY(-7rem)`;
      search.children[0].children[1].style.transform = `scale(0.8)`;
    } else if (search) {
      search.style.transform = 'translateY(0)';
      search.children[0].children[1].style.transform = `scale(1)`;
    }
  }
</script>

<div class="search" bind:this="{search}">
  <QueryBuilder
    {subjectFields}
    {contentFields}
    status="{$searchMachine.dirty ? 'dirty' : 'clean'}"
    on:change="{ handleChange }"
    send="{ handleSend }" />
    {#if isRules}
    <div class="close-label" on:click="{animateSearch}" style="{states.current === 'open' ? 'transform: rotate(180deg)' : ''}">
        <img src="arrow.svg"/>
    </div>
    {/if}
</div>


<style>
  /* .search {
    width: 100%;
  } */
  .search {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
    padding: 0 3em 0.5em 3em;
    transition: 0.5s;
    z-index: 3;
    background: #fff;
  }
  .close-label {
    position: absolute;
    padding: 5px 0;
    cursor:pointer;
    width: 30px;
    height: 30px;
    right: 30px;
    bottom: 22px;
    transition: 0.2s;
  }

  img {
    margin-top: -5px;
  }
</style>
