<script>
  export let txValue, tx2Value;
</script>

<div>
  <h1>Three</h1>
  <span style="transform: scaleX({txValue/100})"></span>
  <p>{Math.round(txValue, 2)}%</p>
  <span style="transform: scaleX({tx2Value/100})"></span>
  <p>{Math.round(tx2Value, 2)}%</p>
</div>

<style>
  h1 {
    margin-top: 100px;
    margin-left: 20px;
  }

  p {
    margin-left: 20px;
  }

  span {
    display: block;
    height: 15px;
    width: 300px;
    background: pink;
    margin-left: 20px;
    transform-origin: 0 0;
  }
</style>
