@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  box-sizing: border-box;
}

html,
body,
#sapper {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: white;
  /* FIXME use css vars and use this in canvas the cleanup draw call */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

:root {
  /* colors */

  --color-blue-crunchbase: rgb(56, 136, 203);
  --color-blue-dark-pastel: rgb(106, 146, 187);
  --color-light-blue: rgb(210, 237, 253);
  --color-rjwf-darker-blue: rgb(15, 51, 102);
  --color-rjwf-lighter-blue: rgb(89, 122, 156);

  /* theme: colors & gradients */

  --color-button-background-hover: #e6ebf1;
  --color-button-background: #eff3f6;
  --color-button-border: #cececf;
  --color-facet-background: white;
  --color-highlight: var(--color-light-blue);
  --color-nav-current: var(--color-blue-dark-pastel);
  --color-ruleset-icon-hover: #333;
  --color-ruleset-icon: #777;
  --color-selections-selected-bg: #384c58;
  --color-selections-selected-text: #fff;
  --color-sidebar-background: #fafbfc;
  --color-sidebar-border: #e1e4e8;
  --color-text-highlight-bkg-hover: var(--color-blue-dark-pastel);
  --color-text-highlight-bkg: var(--color-light-blue);
  --color-text: var(--color-rjwf-darker-blue);
  --color-type-company: var(--color-blue-crunchbase); /* logo_cb.svg */
  --color-type-event: rgb(237, 28, 64); /* logo_meetup.svg */
  --color-type-paper: rgb(101, 102, 106); /* logo_nih.png */
  --color-ui-border: lightgrey;
  --color-ui-shadow: darkgrey;
  --color-excluded: hsla(202, 31%, 42%, 1);
  --color-excluded-border: hsla(202, 31%, 42%, 1);
  --gradient-button-background: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  --gradient-button-background-hover: linear-gradient(
    -180deg,
    #f0f3f6,
    #e6ebf1 90%
  );

  /* theme: borders */

  --border-button: 1px solid var(--color-button-border);
  --border-sidebar: 1px solid var(--color-sidebar-border);

  /* theme: sizes */

  --size-bars-padding: 12px;
  --size-header-height: 70px;
  --size-header-innerheight: calc(
    var(--size-header-height) - 2 * var(--size-bars-padding)
  );
  --size-footer-height: 50px;
  --size-footer-innerheight: calc(
    var(--size-footer-height) - 2 * var(--size-bars-padding)
  );
  --size-main-height: calc(
    100% - var(--size-header-height) - var(--size-footer-height)
  );
  --size-sidebar-width: 25rem;

  /* flow: z-index */

  --z-index-menu: 100;
}

span.highlighted {
  padding: 0.2em 0.4em;
  background-color: var(--color-text-highlight-bkg);
}

span.highlighted:hover {
  background-color: var(--color-text-highlight-bkg-hover);
  color: white;
}
