@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

* {
  box-sizing: border-box;
}

html,
body,
#sapper {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-app-text);
  background-color: var(--color-app-background);
  /* FIXME use css vars and use this in canvas the cleanup draw call */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

:root {
  /* colors */

  --color-blue-crunchbase: hsl(207, 59%, 51%); /* logo_cb.svg */
  --color-blue-dark-blackish: hsl(203, 22%, 28%);
  --color-blue-dark-water: hsl(202, 31%, 42%);
  --color-blue-dark-pastel: hsl(210, 37%, 57%);
  --color-blue-greyish-nih: hsl(228, 2%, 41%); /* logo_nih.png */
  --color-blue-greyish-1: hsl(213, 28%, 92%);
  --color-blue-greyish-2: hsl(214, 13%, 90%);
  --color-blue-greyish-3: hsl(206, 28%, 95%);
  --color-blue-light: hsl(202, 91%, 91%);
  --color-blue-lighter: hsl(203, 74%, 94%);
  --color-blue-rjwf-darker: hsl(215, 74%, 23%);
  --color-blue-rjwf-lighter: hsl(210, 27%, 48%);
  --color-blue-whiteish: hsl(210, 25%, 98%);
  --color-grey-20: hsl(0, 0%, 20%);
  --color-grey-grey: hsl(0, 0%, 50%);
  --color-grey-darkgrey: hsl(0, 0%, 66%);
  --color-grey-lightgrey: hsl(0, 0%, 83%);
  --color-red-meetup: hsl(350, 85%, 52%); /* logo_meetup.svg */

  /* sizes */

  --size-global-padding: 12px;

  /* theme: colors */

  --color-app-background: white;
  --color-app-text: var(--color-grey-20);
  --color-button-background-hover: var(--color-blue-greyish-1);
  --color-button-background: var(--color-blue-greyish-3);
  --color-button-border: var(--color-grey-lightgrey);
  --color-excluded: var(--color-blue-dark-water);
  --color-excluded-border: var(--color-blue-dark-water);
  --color-facet-background: white;
  --color-highlight: var(--color-blue-light);
  --color-highlight-hover: var(--color-blue-lighter);
  --color-nav-current: var(--color-blue-dark-pastel);
  --color-ruleset-icon-hover: var(--color-grey-20);
  --color-ruleset-icon: var(--color-grey-grey);
  --color-selections-selected-bg: var(--color-blue-dark-blackish);
  --color-selections-selected-text: white;
  --color-sidebar-background: var(--color-blue-whiteish);
  --color-sidebar-border: var(--color-blue-greyish-2);
  --color-text-highlight-bkg-hover: var(--color-blue-dark-pastel);
  --color-text-highlight-bkg: var(--color-blue-light);
  --color-text: var(--color-blue-rjwf-darker);
  --color-type-company: var(--color-blue-crunchbase);
  --color-type-event: var(--color-red-meetup);
  --color-type-paper: var(--color-blue-greyish-nih);
  --color-ui-border: var(--color-grey-lightgrey);
  --color-ui-shadow: var(--color-grey-darkgrey);

  /* theme: gradients */

  --gradient-button-background: linear-gradient(
    -180deg,
    var(--color-blue-whiteish),
    var(--color-blue-greyish-3) 90%
  );
  --gradient-button-background-hover: linear-gradient(
    -180deg,
    #f0f3f6,
    var(--color-blue-greyish-1) 90%
  );

  /* theme: shadows */

  --shadow-overlay: 0px 0px 6px 1px var(--color-grey-lightgrey);

  /* theme: borders */

  --border-button: 1px solid var(--color-button-border);
  --border-sidebar: 1px solid var(--color-ui-border);
  --border-sidebar: 1px solid var(--color-sidebar-border);
  --border-ui: 1px solid var(--color-ui-border);

  /* theme: sizes */

  --size-bars-padding: var(--size-global-padding);
  --size-header-height: 70px;
  --size-header-innerheight: calc(
    var(--size-header-height) - 2 * var(--size-bars-padding)
  );
  --size-facet-padding: var(--size-global-padding);
  --size-footer-height: 50px;
  --size-footer-innerheight: calc(
    var(--size-footer-height) - 2 * var(--size-bars-padding)
  );
  --size-main-height: calc(
    100% - var(--size-header-height) - var(--size-footer-height)
  );

  --size-sidebar-padding: 1rem;
  --size-sidebar-panel-title: 1.3rem;
  --size-sidebar-width: 25rem;

  /* flow: z-index */

  --z-index-menu: 100;
}

span.highlighted {
  padding: 0.2em 0.4em;
  background-color: var(--color-text-highlight-bkg);
}

span.highlighted:hover {
  background-color: var(--color-text-highlight-bkg-hover);
  color: white;
}
