<script context="module">
  export const MB_SOURCE = {};
</script>

<script>
  import { onMount, afterUpdate, getContext, setContext } from 'svelte';
  import { MAPBOX } from './Mapbox.html';

  export let source, sourceId, data;
  let mounted;

  const { getMap } = getContext(MAPBOX);

  setContext(MB_SOURCE, {
    getSourceId: () => sourceId,
  });

  onMount(() => {
    const map = getMap();
    map.addSource(sourceId, { ...source, data });
    mounted = true;

    return () => map.style && map.removeSource(sourceId);
  });

  afterUpdate(() => {
    if (!mounted) return;
    const map = getMap();
    map.getSource(sourceId).setData(data);
  });
</script>

<slot></slot>
